@import './color.scss';

.activities {
    background-color: $activites-background;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 30px;
}

.activityNone {
    font-size: 25px;
}