@import './color.scss';

.header {
    background-color: $header-background;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 194px;
    width: 159px;
}

.searchBar {
    height: 30px;
    width: 400px;
    border-radius: 50px;
    padding-left: 10px;
}